:root{
    --mena : #62c4e5;
    --bg-wihte : #FFFFFF;
    --tx--black :  #00000f;
    --bg-main : #97c7f4;
    --bg-bule : #12547a; 
}

*{
  font-family: 'Montserrat', sans-serif;
}

.body{
    height: 800px;
}
.h-min{
  height:450px ; 
}  
.s-h-max{
    height: 200px;
}
.max-h{
    height: 450px;
}
.max-pt{
 padding-top: 30px;
}


.mena-txt{
    color: var(--mena);
}
.my-align-center{
    align-items: center;
}



.my-position-rel{
    position: relative;
}

.it-navbar{
    color: var(--bg-wihte);
}

.it-navbar .navbar-toggler-icon {
    color: var(--tx--black) !important;
}

.navbar-toggler{
    color: #000;
}


.top-scetion h1{
 font-weight: 700;
 font-size: 36px;
 color: var(--bg-wihte);
}
.ul-xl {
    border-left: 4px solid var(--tx--black);
    position: relative;
    left: 89px;
    bottom: 42px;
   
}
li{
    list-style-type:none;
}

.my-bd-down{
    border-bottom: 1px solid var(--bg-wihte) ;
}
  
/*  top  section*/
.img-size{
    width: 130px;
    height: 60px;
    overflow: hidden;
    
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    
}

.google-logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    float: left;
    
}

.fa-xl {
    font-size: 2.5em;
    line-height: .04167em;
    vertical-align: -0.125em;
}


.top-scetion .row{
    align-content: center;
    display: flex;
    align-items: baseline;
    height: 560px;
}

.top-scetion {
   /* display: flex;*/
    background: url('/img/bg-home-1.jpg'); 
   /* align-content: center; */
    
}


.tp-form {
    border-radius:1px ;
    background-color: var(--bg-wihte);
    height: 400px;
    align-items: baseline;
}


.shot-screen{
    background-color: var(--bg-main);

}

.sec_scetion{
    height: 300px;
}


.service-sec{
  background-color: var(--mena);
}


.img2-size{
    width: 660px;
    height: 350px;
    overflow: hidden;
    
}


.footer{
    background-color: var(--bg-bule);
    text-decoration:var(--bg-wihte)
}




@media  (min-width:300px) and (max-width:500px){
  .sec_scetion .row {
      float :none;
      display: flex;
      flex-direction: column-reverse;
  }

  .navbar-toggler-icon {
      display: block;
      
      background-image: var(--tx--black);
  }

  .it-navbar{
      background-color: #00000f;

  }

} 